{% extends "base.html" %}

{% block content %}

<div  class="card bg-dark text-black">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/87e94664-b916-435a-8db9-8a8d37831c2d/d6lwzf7-580276a0-c893-4ccc-a90c-4aa2e53659da.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODdlOTQ2NjQtYjkxNi00MzVhLThkYjktOGE4ZDM3ODMxYzJkXC9kNmx3emY3LTU4MDI3NmEwLWM4OTMtNGNjYy1hOTBjLTRhYTJlNTM2NTlkYS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.VGNViRLgogFyCtUF8xReOSm0gmZ2CYp4TkGxLgKtNBk" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="col px-md-5 p-3 border bg-light">
            <h2>Your Code Snippets:</h2>
            <p>
                <a href="{% url 'new_snippets' %}"><button type="button" class="btn btn-outline-success">Add a new snippet <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/><path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                </svg></button></a>
            </p>
            <p>
                <a href="{% url 'search_snippets' %}"><button type="button" class="btn btn-outline-secondary px-md-3">Search Snippets <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/><path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/></svg></button></a> 
            </p>
        </div>
        

        <div class="d-inline-flex p-2 bd-highlight">
            <ul>
            {% for snippet in snippets.all %}
                <li>
                    <a href="{% url 'singular_snippet' snippet_pk=snippet.pk %}" class="list-group-item list-group-item-light">{{ snippet.title }} <svg class="bi bi-bookmark" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"/></svg></a> 
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>    
</div>

{% endblock %} 