{% extends "base.html" %}

{% block content %}

    <h2>Add Your Code Snippet Here: </h2>
    <br>

    <form action="{% url 'new_snippets' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit" class="btn btn-info">Add Snippet</button>
        </div>
        
    </form>
    <div>
        <a href="{% url 'display_snippets' %}"><button type="button" class="btn btn-outline-info">Return to All Snippets</button></a>
    </div>

{% endblock %}