{% extends "base.html" %}

{% block content %}

<h3>Title: {{ snippet.title }}</h3>

<p>Created: {{ snippet.created_at }}</p>
<p>Code Language: {{ snippet.language }}</p>
<pre><code>Code: {{ snippet.code_body }}</code></pre>
<p>Tags: {{ snippet.tags }}</p>

<p><a href="{% url 'delete_snippet' snippet_pk=snippet.pk %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></p>
<p><a href="{% url 'edit_snippet' snippet_pk=snippet.pk %}"><button type="button" class="btn btn-outline-warning">Edit</button></a></p>
<p><a href="{% url 'display_snippets' %}"><button type="button" class="btn btn-outline-info">Back to All Snippets</button></a></p>



{% endblock %}