{% extends "base.html" %}

{% block content %}

<p class= "m-2">
    <a href="{% url 'display_snippets' %}"><button type="button" class="btn btn-outline-info">Back to All Snippets</button></a>
    <a href="{% url 'edit_snippet' snippet_pk=snippet.pk %}"><button type="button" class="btn btn-outline-warning">Edit</button></a>
    <a href="{% url 'delete_snippet' snippet_pk=snippet.pk %}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
</p>
<div  class="card bg-dark text-black">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/87e94664-b916-435a-8db9-8a8d37831c2d/d6lwzf7-580276a0-c893-4ccc-a90c-4aa2e53659da.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODdlOTQ2NjQtYjkxNi00MzVhLThkYjktOGE4ZDM3ODMxYzJkXC9kNmx3emY3LTU4MDI3NmEwLWM4OTMtNGNjYy1hOTBjLTRhYTJlNTM2NTlkYS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.VGNViRLgogFyCtUF8xReOSm0gmZ2CYp4TkGxLgKtNBk" class="card-img" alt="...">
    <div class="card-img-overlay">
    <div class="card p-2">
        <div class="card-header">
            {{ snippet.title }}
        </div>
        <div class="card-body">

            <p>
                <svg class="bi bi-code" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M5.854 4.146a.5.5 0 0 1 0 .708L2.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm4.292 0a.5.5 0 0 0 0 .708L13.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/></svg> Code Language: {{ snippet.language }}
            </p>

            <p>
                <svg class="bi bi-code-slash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z"/></svg> Code: <pre class= "m-4 p-2"><code>{{ snippet.code_body }}</code></pre>
            </p>

            <p>
                <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/><path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/></svg> Created: {{ snippet.created_at }}
            </p>

            <p>
                <svg class="bi bi-tag" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M.5 2A1.5 1.5 0 0 1 2 .5h4.586a1.5 1.5 0 0 1 1.06.44l7 7a1.5 1.5 0 0 1 0 2.12l-4.585 4.586a1.5 1.5 0 0 1-2.122 0l-7-7A1.5 1.5 0 0 1 .5 6.586V2zM2 1.5a.5.5 0 0 0-.5.5v4.586a.5.5 0 0 0 .146.353l7 7a.5.5 0 0 0 .708 0l4.585-4.585a.5.5 0 0 0 0-.708l-7-7a.5.5 0 0 0-.353-.146H2z"/><path fill-rule="evenodd" d="M2.5 4.5a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm2-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/></svg> Tags: {{ snippet.tags }} 
            </p> 

        </div>
    </div>    
</div>





{% endblock %}