{% extends "base.html" %}

{% block content %}
<p class= "m-2">
    <a href="{% url 'display_snippets' %}"><button type="button" class="btn btn-outline-info">Back to All Snippets</button></a>
</p>
<div class="card bg-dark text-black">   
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/87e94664-b916-435a-8db9-8a8d37831c2d/d6lwzf7-580276a0-c893-4ccc-a90c-4aa2e53659da.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODdlOTQ2NjQtYjkxNi00MzVhLThkYjktOGE4ZDM3ODMxYzJkXC9kNmx3emY3LTU4MDI3NmEwLWM4OTMtNGNjYy1hOTBjLTRhYTJlNTM2NTlkYS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.VGNViRLgogFyCtUF8xReOSm0gmZ2CYp4TkGxLgKtNBk" class="card-img" alt="...">
    <div class="card-img-overlay"> 
    <div class="card p-2">
        <h3 class="card-header text-monospace">Tag: {{ tag }}</h3>
        <div class= "card-body">
            <div>
            {% for snippet in snippets.all %}
                <p><a href="{% url 'singular_snippet' snippet_pk=snippet.pk %}" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">{{ snippet.title }}</a></p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 